{% extends 'base.html' %}
{% load static %}

{% block script %}<script src="{% static 'quiz_answers_stringify.js' %}"></script>{% endblock %}
{% block title %}Hello{% endblock %}

{% block content %}
<h1>Quiz Platform</h1>
{% if user.is_authenticated %}
  <p>Logged in as {{ user.username }}</p>
  <br>
  {% if user.is_staff %}
    You cannot take any quizzes
    <a href="{% url 'create_quiz' %}"> Create Quiz </a>
  {% else %}
    <form id="ans_form" method="POST">
        {% csrf_token %}
        <input id="ans" type="hidden" name="quiz_ans_string">
        <input type="hidden" name="q_idx" value="{{ q_idx }}">
    </form>
    <div>{{ text }}</div>
    <div>Quiz {{ q_idx }}</div>
    <div>
        <ul>
            {% for num, q, a, b, c in q_questions %}<br>
                question {{ num }} : <span class="q">{{ q }}</span><br>
                Option A : {{ a }}<br>
                Option B : {{ b }}<br>
                Option C : {{ c }}<br>
                <br>
                <input type="radio" name="{{ q }}" value="A">A</input><br>
                <input type="radio" name="{{ q }}" value="B">B</input><br>
                <input type="radio" name="{{ q }}" value="C">C</input><br>
            {% endfor %}
        </ul>
        <div id="button">
          {% if hide == 'hide' %}
            <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
          {% else %}
            <button id="submit_quiz" class="btn btn-primary">Submit Quiz</button>
          {% endif %}
      </div>
    </div>
  {% endif %}
{% else %}
    Please login to attempt quizzes
  <a href="{% url 'social:begin' 'google-oauth2' %}">
    Login with google
  </a>
  <br>
  <a href="{% url 'login' %}">
    Login with user account
  </a>
{% endif %}
{% endblock %}