{% extends 'base.html' %}

{% block title %}Hello{% endblock %}

{% block content %}
<h1>Quiz Platform</h1>
{% if user.is_authenticated %}
  <p>Logged in as {{ user.username }}</p>
  <p>Email : {{ user.email }}</p>
  <a href="{% url 'logout' %}" class="list-group-item list-group-item-action active" >Logout</a>
  <br>
  {% if user.is_staff %}
    <a href="{% url 'create_quiz' %}"class="list-group-item list-group-item-action active"> Create a new quiz </a><br>
    <a href="{% url 'quiz_stats' %}"class="list-group-item list-group-item-action active"> See quiz Statistics </a>
  {% else %}
    <a href="{% url 'quiz_list' %}"class="list-group-item list-group-item-action active"> Attempt a quiz </a>
  {% endif %}
{% else %}
  <a href="{% url 'social:begin' 'google-oauth2' %}"class="list-group-item list-group-item-action active">
    Login with google
  </a>
  <br>
  <a href="{% url 'login' %}"class="list-group-item list-group-item-action active">
    Login with user account
  </a>
{% endif %}
{% endblock %}