{% extends 'base.html' %}

{% block title %}Hello{% endblock %}

{% block content %}
<h1>Quiz Platform</h1>
{% if user.is_authenticated %}
  <p>Logged in as {{ user.username }}</p>
  <a href="{% url 'logout' %}" class="btn btn-secondary">Logout</a>
  <br>
  {% if user.is_staff %}
    You can only create quizzes
    <a href="{% url 'home' %}" class="btn btn-secondary"> Home </a>
  {% else %}
    <p>This is the list of quizzes you are allowed to take : </p>
    {% for name, id in q_names_ids %}
      <a href="/attempt_quiz?quiz_idx={{ id|urlencode }}" class="btn btn-secondary">{{ name }} ----- {{ id }}</a><br><br>
    {% endfor %}
  {% endif %}
{% else %}
    Login to attepmt quizzes
  <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-secondary">
    Login with google
  </a>
  <br>
  <a href="{% url 'login' %}" class="btn btn-secondary">
    Login with user account
  </a>
{% endif %}
{% endblock %}