{% extends 'base.html' %}

{% block title %}Hello{% endblock %}

{% block content %}
<h1>Quiz Platform</h1>
{% if user.is_authenticated %}
  <p>Logged in as {{ user.username }}</p>
  <a href="{% url 'logout' %}">Logout</a>
  <br>
  <a href="{% url 'home' %}">Home</a><br>
  {% if user.is_staff %}
    <a href="{% url 'create_quiz' %}"> Create a new quiz </a><br>
    <br>
    <h2>Quiz Statistics</h2>
    {% for id, num_of_q, times_attempted in quiz_details %}
        Quiz ID : {{ id }} <br>
        Number of questions : {{ num_of_q }} <br>
        Number of times attempted : {{ times_attempted }} <br>
    {% endfor %}
  {% endif %}

{% else %}
    Please login to continue
  <a href="{% url 'social:begin' 'google-oauth2' %}">
    Login with google
  </a>
  <br>
  <a href="{% url 'login' %}">
    Login with user account
  </a>
{% endif %}
{% endblock %}